apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: facticle-crawler-secret
  namespace: facticle-crawler
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: aws-secretsmanager
    kind: SecretStore
  target:
    name: facticle-crawler-secret
  data:
    # Database
    - secretKey: DB_HOST
      remoteRef:
        key: facticle/rds
        property: host
    - secretKey: DB_PORT
      remoteRef:
        key: facticle/rds
        property: port
    - secretKey: DB_USERNAME
      remoteRef:
        key: facticle/rds
        property: username
    - secretKey: DB_PASSWORD
      remoteRef:
        key: facticle/rds
        property: password
    - secretKey: DB_NAME
      remoteRef:
        key: facticle/rds
        property: dbname

    # OpenSearch
    - secretKey: OPENSEARCH_ENDPOINT
      remoteRef:
        key: facticle/opensearch
        property: endpoint

    # OpenAI
    - secretKey: OPENAI_API_KEY
      remoteRef:
        key: facticle/openai
        property: api_key

