apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: facticle-backend-secret
  namespace: facticle-backend
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: aws-secretsmanager
    kind: SecretStore
  target:
    name: facticle-backend-secret
  data:
    # Database
    - secretKey: DB_HOST
      remoteRef:
        key: facticle/rds
        property: host
    - secretKey: DB_PORT
      remoteRef:
        key: facticle/rds
        property: port
    - secretKey: DB_USERNAME
      remoteRef:
        key: facticle/rds
        property: username
    - secretKey: DB_PASSWORD
      remoteRef:
        key: facticle/rds
        property: password
    - secretKey: DB_NAME
      remoteRef:
        key: facticle/rds
        property: dbname

    # OpenSearch
    - secretKey: OPENSEARCH_ENDPOINT
      remoteRef:
        key: facticle/opensearch
        property: endpoint

    # S3 (IRSA 사용 → access key 불필요)
    - secretKey: AWS_BUCKET_NAME
      remoteRef:
        key: facticle/s3
        property: bucket
    - secretKey: S3_DEFAULT_PROFILE
      remoteRef:
        key: facticle/s3
        property: default-profile-key

    # OAuth
    - secretKey: GOOGLE_CLIENT_ID
      remoteRef:
        key: facticle/oauth
        property: google_client_id
    - secretKey: GOOGLE_CLIENT_SECRET
      remoteRef:
        key: facticle/oauth
        property: google_client_secret
    - secretKey: GOOGLE_REDIRECT_URI
      remoteRef:
        key: facticle/oauth
        property: google_redirect_uri
    - secretKey: KAKAO_CLIENT_ID
      remoteRef:
        key: facticle/oauth
        property: kakao_client_id
    - secretKey: KAKAO_CLIENT_SECRET
      remoteRef:
        key: facticle/oauth
        property: kakao_client_secret
    - secretKey: KAKAO_REDIRECT_URI
      remoteRef:
        key: facticle/oauth
        property: kakao_redirect_uri
    - secretKey: NAVER_CLIENT_ID
      remoteRef:
        key: facticle/oauth
        property: naver_client_id
    - secretKey: NAVER_CLIENT_SECRET
      remoteRef:
        key: facticle/oauth
        property: naver_client_secret
    - secretKey: NAVER_REDIRECT_URI
      remoteRef:
        key: facticle/oauth
        property: naver_redirect_uri