{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "facticle-frontend.fullname" . }}
  labels:
    {{- include "facticle-frontend.labels" . | nindent 4 }}
  annotations:
{{- toYaml .Values.ingress.annotations | nindent 4 }}
spec:
  ingressClassName: {{ .Values.ingress.className }}
  rules:
    - http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ include "facticle-frontend.fullname" . }}
                port:
                  number: {{ .Values.service.port }}
{{- end }}
